<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <title>Game of Rogue</title>
    </head>
    <body>
        <div id="game-container"></div>
        <div class="help-text">
            To move, use <b>Up/Left/Right/Down</b> or <b>numpad</b>.<br />
            Press <b>1</b> to activate first skill, <b>2</b> for second.<br />
            <i>Debug Tools:</i><br />
            Press <b>R</b> to generate a new floor, <b>S</b> to see the whole floor.
        </div>
    </body>
</html>
